<div class="card-group">
    <div class="card">
      <img src="images\1.jpg" class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">NODES</h5>
        <p class="card-text">Nodes have either a programmed or engineered capability to recognize, process and forward transmissions to other network nodes. The concept of network nodes came into being with the use of distributed networks and packet switching.</p>
      </div>
    </div>
    <div class="card">
      <img src="images\2.jpg" class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">LINKS</h5>
        <p class="card-text">Link in Computer Networks can be defined as wires or cables or free space of wireless networks. The working of Computer Networks can be simply defined as rules</p>
      </div>
    </div>
    <div class="card">
      <img src="images\3.jpg" class="card-img-top" alt="..." width="200px" height="300px">
      <div class="card-body">
        <h5 class="card-title">MODELS</h5>
        <p class="card-text">In the world of networking, two models play a vital role in describing the communication and data transfer processes between hosts: the OSI/ISO model and the TCP/IP model.</p>
      </div>
    </div>
  </div>

